.login-box, .first-task-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bg-white {
	background: #fff !important;
}

.box {
   display: flex;
   align-items:center;
}

.text-decoration-line {
	-webkit-text-decoration-line: line-through; /* Safari */
	text-decoration-line: line-through; 
}

.big-complete-task-number {
	color: #007bff;
	font-size: 48px;
}

.task-card {
	min-height: 154px;
}

.latest-task-card {
	padding: 0.25rem 1.25rem
}

.card-body svg {
	height: 113px;
}

.text-danger {
	font-size: 10px;
}